<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Tytuł pobierany z pliku messages -->
    <title th:text="#{addPost.name}"></title>

    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <!-- Przycisk powrotu do strony głównej z użyciem klucza mainPageReturnLink -->
    <button type="button" th:text="#{mainPageReturnLink}"
            onclick="window.location.href='http://localhost:8080/main'">
    </button>
    <hr>
</head>
<body>
<form th:action="@{/addingPost}" th:object="${postFormDTO}" method="post" enctype="multipart/form-data">

    <p>
        <label th:text="#{addPost.newPostSubject}"></label>
        <input type="text" th:field="*{title}"/>
        <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </p>

    <p>
        <label th:text="#{addPost.newPostText}"></label>
        <input type="text" th:field="*{description}"/>
        <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    </p>

    <p>
        <label th:text="#{addPost.newPostPDF}"></label>
        <input type="file" th:field="*{pdfFile}" accept="application/pdf"/>
        <span class="error" th:if="${#fields.hasErrors('pdfFile')}" th:errors="*{pdfFile}"></span>
    </p>

    <p>
        <!-- Zamiana tekstu Wybierz tagi: na klucz w pliku messages -->
        <label th:text="#{addPost.chooseTags}"></label><br>
        <select multiple="multiple" th:field="*{tagIds}">
            <option th:each="tag : ${allTags}"
                    th:value="${tag.id}"
                    th:text="${tag.name}">
            </option>
        </select>
    </p>

    <input type="hidden" th:field="*{authorId}" />

    <!-- Zamiana tekstu input submit na klucz w pliku messages (np. global.submit) -->
    <input type="submit" th:value="#{global.submit}"/>
</form>
</body>
</html>
