<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text = "#{addPost.name}"></title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<a th:href="@{/main}">Main Page </a> <br> <br>
<form action="/addingPost"  method="POST">
    <label th:text="#{addPost.newPostSubject}"></label>
    <input type="text" name="newPostSubject"><br>
    <label th:text="#{addPost.newPostText}"></label>
    <input type="text" name="newPostText"><br>
    <input type="submit">
</form>
</body>
</html>