<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{defaultError.title}">Błąd 500 - Wewnętrzny błąd serwera</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1 th:text="#{defaultError.header}">Błąd 500 - Wewnętrzny błąd serwera</h1>

<!-- Komunikaty z wykorzystaniem kluczy do prefixów -->
<p th:text="#{defaultError.messageLabel} + ' ' + ${message}">Wiadomość: </p>
<p th:text="#{defaultError.urlLabel} + ' ' + ${url}">Żądany adres: </p>
<p th:text="#{defaultError.statusLabel} + ' ' + ${status}">Status: </p>

<!-- Link do strony głównej -->
<a th:href="@{/main}" th:text="#{global.mainReturnLink}">Powrót do strony głównej</a>
</body>
</html>
