<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{editPassword.title}">Zmień hasło</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div class="top-nav">
  <a th:href="@{/main}" th:text="#{global.mainReturnLink}">Powrót</a>
</div>

<div class="container">
  <h1 th:text="#{editPassword.header}">Zmień hasło</h1>
  <form th:action="@{/confirmEditPassword}" th:object="${userPasswordChangeDTO}" method="post">

    <input type="hidden" th:field="*{id}" />

    <div>
      <label for="currentPassword" th:text="#{editPassword.currentPasswordLabel}">Aktualne hasło:</label>
      <input type="password" id="currentPassword" th:field="*{currentPassword}" />
      <div class="error" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></div>
    </div>
    <div>
      <label for="newPassword" th:text="#{editPassword.newPasswordLabel}">Nowe hasło:</label>
      <input type="password" id="newPassword" th:field="*{newPassword}" />
      <div class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
    </div>
    <div>
      <label for="confirmNewPassword" th:text="#{editPassword.confirmNewPasswordLabel}">Potwierdź nowe hasło:</label>
      <input type="password" id="confirmNewPassword" th:field="*{confirmNewPassword}" />
      <div class="error" th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}"></div>
    </div>

    <button type="submit" th:text="#{editPassword.submit}">Zmień hasło</button>
    <a th:href="@{/userProfile(userId=${userPasswordChangeDTO.id})}" th:text="#{global.cancel}">Anuluj</a>
  </form>
</div>
</body>
</html>
