<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{editComment.title}">Edycja komentarza</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1 th:text="#{editComment.header}">Edytuj Komentarz</h1>

<form th:object="${commentEditDTO}" th:action="@{/confirmEditComment}" method="post">

  <input type="hidden" th:field="*{id}" />
  <input type="hidden" th:field="*{postId}" />

  <p>
    <label for="text" th:text="#{editComment.newTextLabel}">Nowy tekst:</label>
    <input type="text" id="text" th:field="*{text}"/>
    <span class="error" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>
  </p>

  <button type="submit" th:text="#{global.saveChanges}">Zapisz zmiany</button>
</form>

</body>
</html>
