<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{userProfile.editTitle}">Edycja profilu</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <button type="button" th:text="#{mainPageReturnLink}"
            onclick="window.location.href='http://localhost:8080/main'"></button>
    <hr>
</head>
<body>
<h1>Edycja profilu</h1>
<form th:action="@{/confirmEditProfile}" th:object="${userEditDTO}" method="post" enctype="multipart/form-data">
    <!-- Ukryte pole przesyłające identyfikator użytkownika -->
    <input type="hidden" th:field="*{id}" />

    <div>
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" id="username" th:field="*{username}" />
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>

    <div>
        <label for="bio">Biografia:</label>
        <textarea id="bio" th:field="*{bio}"></textarea>
        <div th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}"></div>
    </div>

    <div>
        <label for="avatarFile">Nowy avatar (PNG/JPEG):</label>
        <input type="file" id="avatarFile" th:field="*{avatarFile}" accept="image/png, image/jpeg" />
        <div th:if="${#fields.hasErrors('avatarFile')}" th:errors="*{avatarFile}"></div>
    </div>

    <button type="submit">Zapisz zmiany</button>
</form>
</body>
</html>