<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{error400.title}">Błąd 400 -Błędne żądanie</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="top-nav">
    <a th:href="@{/main}" th:text="#{global.mainReturnLink}">Powrót</a>
</div>

<div class="container">
    <h1 th:text="#{error400.header}">Błąd 40 -Błędne żądanie</h1>

    <p th:text="#{error400.messagePrefix} + ' ' + ${message}">Wiadomość: </p>
    <p th:text="#{error400.urlLabel} + ' ' + ${url}">Żądany adres: </p>
    <p th:text="#{error400.statusLabel} + ' ' + ${status}">Status: </p>

    <a th:href="@{/main}" th:text="#{global.mainReturnLink}">Powrót do strony głównej</a>
</div>
</body>
</html>
