<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{register.title}">Rejestracja</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div class="top-nav">
    <button type="button" th:text="#{mainPageReturnLink}"
            onclick="window.location.href='http://localhost:8080/main'">
    </button>
</div>

<div class="container">
    <h1 th:text="#{register.header}">Rejestracja</h1>

    <form th:object="${userRegistrationDTO}" th:action="@{/register}" method="post">
        <div>
            <label for="username" th:text="#{register.usernameLabel}">Nazwa użytkownika:</label>
            <input type="text" id="username" th:field="*{username}" />
            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div>
            <label for="email" th:text="#{register.emailLabel}">Email:</label>
            <input type="email" id="email" th:field="*{email}" />
            <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div>
            <label for="password" th:text="#{register.passwordLabel}">Hasło:</label>
            <input type="password" id="password" th:field="*{password}" />
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div>
            <label for="confirmPassword" th:text="#{register.confirmPasswordLabel}">Powtórz hasło:</label>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}" />
            <div class="error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
        </div>
        <button type="submit" th:text="#{register.submit}">Zarejestruj się</button>
    </form>
</div>
</body>
</html>
