<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{showPost.name}">Wpis</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <button type="button" th:text="#{mainPageReturnLink}" onclick="window.location.href='http://localhost:8080/main'"></button>
    <hr>
</head>
<body>

<!-- Przyciski edycji, jeśli to autor -->
<div th:if="${isViewedByAuthor}">
    <a th:href="@{/editPost(postId=${post.id})}">Edytuj Post</a>
    <a th:href="@{/deletePost(postId=${post.id})}">Usuń Post</a>
</div>

<!-- Tytuł postu, avatar autora, link do profilu autora -->
<strong th:text="${post.title}">Tytuł wpisu</strong><br>
<img th:src="@{${postAuthor.avatar}}" alt="Avatar autora" style="max-width:50px; max-height:50px;"/>
<a th:href="@{/userProfile(userId=${postAuthor.id})}" th:text="${postAuthor.username}">Autor</a>
<br>
<span th:text="${post.description}">Opis wpisu</span><br>

<!-- Link do PDF, jeśli istnieje -->
<a th:if="${post.pdfFilePath != null}"
   th:href="@{/posts/{id}/pdf(id=${post.id})}"
   target="_blank">
    Pobierz PDF
</a>
<br>
<span th:text="${post.showableDate}">Data</span>
<br><br>

<!-- Liczba polubień i przyciski Like/Unlike -->
<div>
    <span>Liczba polubień: <b th:text="${likeCount}">0</b></span>
</div>
<div th:if="${isLogged}">
    <div th:if="${userLiked}">
        <form th:action="@{/post/{id}/unlike(id=${post.id})}" method="post">
            <button type="submit">Unlike</button>
        </form>
    </div>
    <div th:unless="${userLiked}">
        <form th:action="@{/post/{id}/like(id=${post.id})}" method="post">
            <button type="submit">Like</button>
        </form>
    </div>
</div>

<div>
    <span>Tagi: </span>
    <span th:if="${#lists.isEmpty(postTagNames)}">Brak</span>
    <ul th:if="${!#lists.isEmpty(postTagNames)}">
        <li th:each="tagName : ${postTagNames}"
            th:text="${tagName}">TagName</li>
    </ul>
</div>

<!-- Link do dodania komentarza, jeśli zalogowany -->
<div th:if="${isLogged}">
    <a th:href="@{/writeComment(postId=${post.id})}">Dodaj komentarz</a>
</div>
<div th:unless="${isLogged}">
    <a th:href="@{/login}">Zaloguj się, aby dodać komentarz</a>
</div>

<!-- Lista komentarzy -->
<div th:each="comment, iterStat : ${postComments}">
    <img th:src="@{${commentsAuthors[iterStat.index].avatar}}" alt="Avatar" style="max-width:30px; max-height:30px;"/>
    <a th:href="@{/userProfile(userId=${commentsAuthors[iterStat.index].id})}"
       th:text="${commentsAuthors[iterStat.index].username}">Komentator</a>
    <br>
    <span th:text="${comment.text}">Tekst komentarza</span><br>
    <span th:text="${comment.showableDate}">Data</span><br>
    <!-- Twoja logika 'creationTimeValue' itp. -->
    <br><br>
</div>

<a th:href="@{/allPosts}" th:text="#{showPost.allPostsReturn}">Powrót do listy wpisów</a>
</body>
</html>