<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{showPost.name}"></title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <button type="button" th:text="#{mainPageReturnLink}" onclick="window.location.href='http://localhost:8080/main'"></button> <hr>
</head>
<body>
<span th:text = "${user.username}" ></span>
<hr>
<span th:each="comment , iterStat : ${userComments}">
    <a th:href="@{/showPost(postId=${commentedPosts[iterStat.index].id})}" th:text="${comment.text}"></a> <br> <hr>
</span>
<a th:href="@{/userPosts(userId=${user.id})}" th:text = "#{userProfile.posts}"></a>
<a th:href="@{/userProfile(userId=${user.id})}" th:text = "#{userProfile.bio}"></a>

</body>
</html>