<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{showUserComments.title}">Komentarze użytkownika</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div class="top-nav">
    <button type="button" th:text="#{mainPageReturnLink}"
            onclick="window.location.href='http://localhost:8080/main'">
    </button>
</div>

<div class="container">
    <div class="user-profile">
        <img th:src="@{${user.avatar}}" alt="Avatar użytkownika" style="max-width:150px; max-height:150px;"/>
        <span th:text="${user.username}">Nazwa użytkownika</span>
    </div>
    <hr>

    <div th:each="comment, iterStat : ${userComments}">
        <a th:href="@{/showPost(postId=${commentedPosts[iterStat.index].id})}" th:text="${comment.text}">Treść komentarza</a>
        <hr>
    </div>

    <a th:href="@{/userPosts(userId=${user.id})}" th:text="#{userProfile.posts}">Wpisy</a>
    <a th:href="@{/userProfile(userId=${user.id})}" th:text="#{userProfile.bio}">Biografia</a>
</div>
</body>
</html>
