<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{showPost.name}"></title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<a th:href="@{/main}">Main Page </a> <br> <br>
<span th:text = "${user.username}" ></span>
<hr>
<span th:each="post : ${userPosts}">
    <a th:href="@{/showPost(postId=${post.id})}"
        th:text = "${post.title}"></a>
<hr>
<a th:href="@{/userComments(userId=${user.id})}">Comments</a>
<a th:href="@{/userProfile(userId=${user.id})}">Bio</a>

</span>
</body>
</html>