<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{addedPost.name}"></title>
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  <button type="button" th:text="#{mainPageReturnLink}" onclick="window.location.href='http://localhost:8080/main'"></button> <hr>
</head>
<body>
<p>
  <span th:text = "#{addedPost.text}"></span>
</p>
<a th:href="@{/main}" th:text="#{addedPost.menuReturn}"></a>
</body>
</html>